@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v49-cyrillic_latin-300.woff2') format('woff2'),
        url("../fonts/roboto-v49-cyrillic_latin-300.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v49-cyrillic_latin-600.woff2') format('woff2'),
        url("../fonts/roboto-v49-cyrillic_latin-600.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/roboto-v49-cyrillic_latin-900.woff2') format('woff2'),
        url("../fonts/roboto-v49-cyrillic_latin-900.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v49-cyrillic_latin-regular.woff2') format('woff2'),
        url("../fonts/roboto-v49-cyrillic_latin-regular.woff") format("woff");
}

:root {
    --color-dark: #31261A;
    --color-light: #FAF4EA;
    --accent: #819B57;
    --accent-dark: #465929;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: var(--color-dark);
    background-color: var(--color-light);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    line-height: 1.5;
}

.section {
    padding: 48px 0;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 0 24px;
}

.accent {
    color: var(--accent);
}

.uppercase {
    text-transform: uppercase;
}

.button {
    border-radius: 8px;
    border: 2px solid var(--accent);
    background: var(--accent);
    width: 203px;
    height: 44px;
    color: var(--color-light);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: grid;
    place-items: center;
}

.button:hover {
    color: var(--accent);
    background: var(--color-light);
}

.link {
    transition: all 0.3s ease;
}

.link:hover {
    color: var(--accent);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* header */
.header-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-menu {
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}

/* hero */
.hero-section {
    padding: 272px 0;
    background:
        linear-gradient(103deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.60) 58.46%,
            rgba(18, 18, 17, 0.00) 90.36%),
        url("../images/hero.jpg"),
        var(--accent);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title {
    font-size: 128px;
    font-weight: 900;
    text-align: center;
    color: var(--color-light);
}

/* advantages */
.advantages-section {
    padding: 16px 0;
    background-color: var(--accent);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-light);
}

/* traditions */
.traditions-section {
    padding-top: 96px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.traditions-title {
    font-size: 64px;
    line-height: 1.3;
    font-weight: 900;
}



.traditions-text.limited {
    max-width: 340px;
}

/* chefs */
.chefs-section {}

.chefs-title {
    text-align: center;
}

.chefs-list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.chefs-item {
    width: 604px;

    article {
        display: flex;
        gap: 30px;
    }
}

/* formats */


.formats-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.formats-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.formats-item {
    flex-basis: calc((100% - 40px) / 3);
}

.format-card {
    width: 349px;
    height: 444px;
    border-radius: 16px;

    background: linear-gradient(180deg, rgba(49, 38, 26, 0.00) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, #31261A 100%);
    padding: 24px;
}

.format-title {
    font-size: 24px;

    font-weight: 600;
}

.format-text {
    font-size: 14px;

    font-weight: 300;
}

/* contacts */

.footer {
    background-color: var(--color-dark);
    background-image: url("../images//footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0% */
}

/*@media screen and (min-width: 768px) {
     ---- 
}*/