@use "./utils/index" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
    font-style: normal;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    color: var(--color-dark);
    background-color: var(--color-light);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    line-height: 1.5;

    @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
    }
}

html {
    scroll-behavior: smooth;
}