@use "./utils/index" as *;
@use "./base" as *;

/* компоненты */
@use "./components/buttons" as *;
@use "./components/logo" as *;
@use "./components/links" as *;
@use "./components/chef-card" as *;
@use "./components/format-card" as *;
@use "./components/forms" as *;
@use "./components/icons" as *;

/* лэйауты */
@use "./layouts/header" as *;
@use "./layouts/hero-section" as *;
@use "./layouts/advantages-section" as *;
@use "./layouts/traditions-section" as *;
@use "./layouts/chefs-section" as *;
@use "./layouts/formats-section" as *;
@use "./layouts/contacts-section" as *;
@use "./layouts/footer" as *;
@use "./layouts/modal" as *;
@use "./layouts/mobile-menu" as *;