@mixin input {
    width: 100%;
    padding: 16px 42px;
    border-radius: 8px;
    border: 2px solid var(--accent-brown);
    outline: none;
    font-size: 16px;
    text-align: left;
    transition: all 0.3s ease;

    &::placeholder {
        color: var(--accent-brown);
    }

    &:focus {
        color: var(--color-dark);
        border: 2px solid var(--accent);
    }
}