:root {
    --color-dark: #31261A;
    --color-light: #FAF4EA;
    --accent: #819B57;
    --accent-dark: #465929;
    --accent-brown: #A18268;
    --accent-grey: #CFCFBC;
}

$bp-tablet: 768px;
$bp-desktop: 1280px;
$hero-gradient: linear-gradient(103deg,
        rgba(18, 18, 17, 0.78) 2.03%,
        rgba(18, 18, 17, 0.60) 58.46%,
        rgba(18, 18, 17, 0.00) 90.36%)