.advantages-section {
    padding: 16px 0;
    background-color: var(--accent);
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-light);
}