.button {
    border-radius: 8px;
    border: 2px solid var(--accent);
    background: var(--accent);
    width: 203px;
    height: 44px;
    color: var(--color-light);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: grid;
    place-items: center;

    &:hover {
        color: var(--accent-dark);
        background: var(--color-light);
    }
}


.modal {
    &__btn-close {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 40px;
        right: 40px;
        display: grid;
        place-items: center;
    }
}

.formats {
    &__button {
        background-color: transparent;
        border: none;
        transition: all 0.3s ease;
        width: 44px;
        height: 44px;
        border: 0.8px solid var(--color-dark);
        border-radius: 50%;
        display: grid;
        place-items: center;
        flex-shrink: 0;

        &:hover {
            background-color: var(--color-dark);
        }
    }
}