.button {
    border-radius: 8px;
    border: 2px solid var(--accent);
    background: var(--accent);
    width: 203px;
    height: 44px;
    color: var(--color-light);
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
    display: grid;
    place-items: center;
}

.button:hover {
    color: var(--accent-dark);
    background: var(--color-light);
}