.chefs-section {
    margin-bottom: 112px;
}

.chefs-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
    margin: 0 auto 80px;
    position: relative;
}

.chefs-title:before,
.chefs-title:after {
    position: absolute;
    content: "";
    display: block;
    border: 2px solid var(--accent-grey);
    width: 352px;
    bottom: 20px;
}

.chefs-title:before {
    left: 0;
}

.chefs-title:after {
    right: 0;
}

.chefs-title-span {
    color: var(--accent-dark);
}

.chefs-list {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.chefs-item {
    width: 604px;
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-light), -16px 16px 0 2px var(--accent-brown);
    width: 240px;
    height: 390px;
}

.chef-card-title {
    margin-bottom: 12px;
    font-size: 40px;
    font-weight: 600;
}

.chef-card-text {
    margin-bottom: 24px;
}