.footer {
    padding: 32px 0;
    background-color: var(--color-dark);
    background-image: url("../images//footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.footer::before,
.footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer::before {
    background-image: url("../images/footer-1.png");
    width: 180px;
    height: 120px;
    left: 0;
}

.footer::after {
    background-image: url("../images/footer-2.png");
    width: 380px;
    height: 190px;
    right: 0;
}

.footer-container {
    display: flex;
    gap: 166px;
    justify-content: space-between;
}

.footer-nav {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 40px;
}

.footer-link {
    margin-bottom: 16px;
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-light);
    margin-bottom: 16px;
}

.address-copy {
    color: var(--accent-brown);
    font-weight: 400;
    margin-bottom: 16px;
}

.address-icons {
    display: flex;
    margin-bottom: 16px;
    gap: 22px;
}

.address-icon {
    width: 32px;
    height: 32px;
    fill: var(--color-light);
}