.modal {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 72px 0 24px;
    }

    &__field {
        width: 100%;
        margin-bottom: 32px;
    }

    &__input {
        @include input;
    }

}

.contacts {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 42px 0 16px;

        &--field {
            margin-bottom: 24px;
            width: 100%;
        }

        &--input {
            @include input;
        }
    }
}