@use "../utils/index" as *;

.format {
    padding: 10px;

    &__card {
        color: var(--color-light);
        height: 442px;
        border-radius: 16px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: end;
        position: relative;
        z-index: 1;
        overflow: hidden;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg,
                    rgba(49, 38, 26, 0) 55%,
                    rgba(49, 38, 26, 0.7) 75%,
                    #31261a 100%);
            z-index: 0;
        }
    }

    &__image {
        position: absolute;
        border-radius: 16px;
        z-index: -1;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
    }

    &__title {
        position: relative;
        z-index: 999;
        font-weight: 600;
        font-size: 20px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 24px;
        }
    }

    &__text {
        position: relative;
        z-index: 999;
        font-size: 14px;
        font-weight: 300;
    }
}