@use "../utils/index" as *;

.modal {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 24px 0 16px;

        @media screen and (min-width: $bp-tablet) {
            margin: 36px 0 16px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin: 72px 0 24px;
        }
    }

    &__field {
        width: 100%;
        margin-bottom: 16px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 32px;
        }
    }

    &__input {
        @include input;
    }
}

.contacts {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 0 16px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 16px;
            padding: 0;
            gap: 24px;
        }

        &--field {
            width: 100%;
        }

        &--input {
            @include input;
        }
    }
}