@use "../utils/index" as *;

.link {
    transition: all 0.3s ease;
    color: var(--color-light);
    font-size: 14px;

    @media screen and (min-width: $bp-desktop) {
        font-size: 18px;
    }

    &:hover {
        color: var(--accent);
    }
}


.footer {

    &__address {
        &--link {
            font-size: 14px;
            font-weight: 300;
            color: var(--color-light);
            transition: all 0.3s ease;
            font-size: 14px;

            @media screen and (min-width: $bp-desktop) {
                font-size: 16px;
            }

            &:hover {
                color: var(--accent-grey);
            }
        }
    }
}

.mobile-menu__menu--link {
    color: var(--color-dark);
    font-size: 24px;

    @media screen and (min-width: $bp-tablet) {
        font-size: 42px;
    }
}