.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(49, 38, 26, 0.40);
}

.backdrop.is-hidden {
    display: none;
}

.modal {
    width: 880px;
    height: 880px;
    flex-shrink: 0;
    background-color: var(--color-light);
    padding: 128px;
    border-radius: 32px;
    margin: 0 auto;
    position: relative;
    overflow-y: auto;
}

.modal::before,
.modal::after {
    content: "";
    position: absolute;
    bottom: 20px;
    background-size: cover;
}

.modal::before {
    background-image: url("../images/modal-bread.png");
    width: 160px;
    height: 220px;
    z-index: 2;
    right: 0;
}

.modal::after {
    background-image: url("../images/modal-sign.png");
    width: 160px;
    height: 160px;
    z-index: 1;
    right: 12px;
}


.modal-btn-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    right: 40px;
    display: grid;
    place-items: center;
}

.modal-icon {
    width: 32px;
    height: 32px;
    stroke: var(--color-dark);
    fill: var(--color-light);
}

.modal-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 72px 0 24px;
}

.modal-field {
    width: 100%;
    margin-bottom: 32px;
}

.modal-input {
    width: 100%;
    padding: 16px 42px;
    border-radius: 8px;
    border: 2px solid var(--accent-brown);
    outline: none;
    font-size: 16px;
    text-align: left;
    transition: all 0.3s ease;
}

.modal-input::placeholder {
    color: var(--accent-brown);
}

.modal-input:focus {
    color: var(--color-dark);
    border: 2px solid var(--accent);
}

.modal-agreement {
    font-size: 12px;
}