.advantages {
    padding: 16px 0;
    background-color: var(--accent);

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        font-size: 20px;
        font-weight: 300;
        color: var(--color-light);
    }
}