@use "../utils/index" as *;

.advantages {
    padding: 40px 0 20px;

    @media screen and (min-width: $bp-tablet) {
        padding: 16px 0;
        background-color: var(--accent);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--accent-grey);
        border-radius: 24px;
        padding: 24px 40px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            gap: 24px;
            justify-content: space-between;
            background-color: transparent;
            padding: 0;
        }
    }

    &__item {
        font-size: 14px;
        color: var(--color-dark);

        @media screen and (min-width: $bp-tablet) {
            font-weight: 300;
            color: var(--color-light);
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 20px;
        }
    }
}