@use "../utils/index" as *;

.chefs {
    margin-bottom: 16px;

    &__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 1.3;
        margin: 0 auto 80px;
        position: relative;

        @media screen and (min-width: $bp-desktop) {
            font-size: 64px;
        }

        &::before,
        &::after {
            display: none;
            position: absolute;
            content: "";
            border: 2px solid var(--accent-grey);
            bottom: 20px;

            @media screen and (min-width: $bp-tablet) {
                display: block;
                width: 200px;
            }

            @media screen and (min-width: $bp-desktop) {
                width: 352px;
            }
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }

        &--span {
            color: var(--accent-dark);
        }
    }

    &__span {
        color: var(--accent-dark);
    }

    &__list {
        display: flex;
        gap: 16px;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 8px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            margin-left: 0;
            gap: 32px;
        }
    }

    &__item {
        flex: 1;

        @media screen and (min-width: $bp-desktop) {
            flex-direction: row;
            gap: 10px;
        }
    }
}