.chefs {
    margin-bottom: 112px;

    &__title {
        font-size: 64px;
        font-weight: 900;
        line-height: 1.3;
        margin: 0 auto 80px;
        position: relative;

        &::before,
        &::after {
            position: absolute;
            content: "";
            display: block;
            border: 2px solid var(--accent-grey);
            width: 352px;
            bottom: 20px;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }



    &__span {
        color: var(--accent-dark);
    }

    &__list {
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    &__item {
        width: 604px;
    }
}