@use "../utils/index" as *;

.contacts {
    display: none;

    &__container {
        display: flex;
        gap: 32px;
        margin-bottom: 48px;
    }

    &__aside {
        flex: 1;
    }

    &__title {
        font-size: 64px;
        font-weight: 900;
        line-height: 1.3;
        margin-bottom: 16px;
    }

    &__agreement {
        font-size: 12px;
    }

    &__map {
        flex: 1;
        border: none;
        border-radius: 16px;
    }
}