.footer {
    padding: 32px 0;
    background-color: var(--color-dark);
    background-image: url("../images//footer-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::before {
        background-image: url("../images/footer-1.png");
        width: 180px;
        height: 120px;
        left: 0;
    }

    &::after {
        background-image: url("../images/footer-2.png");
        width: 380px;
        height: 190px;
        right: 0;
    }

    &__container {
        display: flex;
        gap: 166px;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        gap: 40px;
    }

    &__policy {
        font-size: 16px;
        font-weight: 300;
        color: var(--color-light);
        margin-bottom: 16px;
    }

    &__copy {
        font-size: 14px;
        color: var(--accent-brown);
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__icons {
        display: flex;
        margin-bottom: 16px;
        gap: 22px;

    }
}