@use "../utils/index" as *;

.formats {
    &__title {
        font-size: 32px;
        font-weight: 900;
        margin-bottom: 24px;
        line-height: 1.3;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 48px;
            font-size: 64px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 80px;
        }
    }

    &__flex {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__list {
        margin-bottom: 16px;

        @media screen and (min-width: $bp-tablet) {
            margin-bottom: 32px;
        }
    }
}