@use "../utils/index" as *;

.formats {
    &__title {
        font-size: 64px;
        font-weight: 900;
        line-height: 1.3;
        margin-bottom: 80px;
    }

    &__flex {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    &__list {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        flex-basis: calc((100% - 40px) / 3);
        transition: all 0.3s ease;
        color: var(--color-light);

        &:hover {
            transform: scale(1.03);
            z-index: 1;
        }
    }
}