@use "../utils/index" as *;

.header {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
        top: 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__nav {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__menu {

        gap: 64px;
        flex-grow: 1;
        justify-content: center;
        display: none;

        @media screen and (min-width: $bp-desktop) {
            display: flex;
        }
    }
}