@use "../utils/index" as *;

.hero {
    padding: 122px 0 32px;
    background:
        linear-gradient(103deg,
            rgba(18, 18, 17, 0.78) 2.03%,
            rgba(18, 18, 17, 0.60) 58.46%,
            rgba(18, 18, 17, 0.00) 90.36%),
        url("../images/hero.jpg"),
        var(--accent);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;

    @media screen and (min-width: $bp-tablet) {
        padding: 122px 0 64px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 272px 0;
    }

    &__title {
        font-size: 67px;
        font-weight: 900;
        color: var(--color-light);
        margin-bottom: 48px;
        line-height: 1;

        @media screen and (min-width: $bp-tablet) {
            font-size: 128px;

        }

        @media screen and (min-width: $bp-desktop) {

            margin-bottom: 0;
        }
    }
}