@use "../utils/index" as *;

.hero {
    padding: 122px 0 32px;
    @include hero-bg("hero-mob", "hero");

    @media screen and (min-width: $bp-tablet) {
        padding: 122px 0 64px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 272px 0;
    }

    &__title {
        font-size: 67px;
        font-weight: 900;
        color: var(--color-light);
        margin-bottom: 48px;
        line-height: 1;

        &>.accent {
            font-weight: 900;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 128px;
        }

        @media screen and (min-width: $bp-desktop) {
            margin-bottom: 0;
        }
    }
}