@use "../utils/index" as *;

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-light);
    transform: translateX(-100%);
    transition: transform 1s;

    &.is-open {
        transform: translateX(0);
    }
}