@use "../utils/index" as *;

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-light);
    transform: translateX(-100%);
    transition: transform 1s;
    z-index: 999;
    padding: 32px 0;
    overflow-y: auto;

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        background-size: cover;
        right: 0;
    }

    &::before {
        background-image: url("../images/modal-bread.png");
        width: 148px;
        height: 227px;
        z-index: 2;
    }

    &::after {
        background-image: url("../images/modal-sign.png");
        width: 160px;
        height: 160px;
        z-index: 1;
    }

    @media screen and (min-width: $bp-desktop) {
        display: none;
    }

    &.is-open {
        transform: translateX(0);
    }

    &__nav {
        height: 560px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 32px;
    }

    &__menu {
        gap: 32px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}