@use "../utils/index" as *;

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(49, 38, 26, 0.40);
    overflow-y: auto;

    &.is-hidden {
        display: none;
    }
}

.modal {
    height: 100vh;
    height: 100vh;
    flex-shrink: 0;
    background-color: var(--color-light);
    padding: 32px;
    border-radius: 32px;
    margin: 0 auto;
    position: relative;

    @media screen and (min-width: $bp-tablet) {
        height: 620px;
        padding: 64px 64px 32px;
    }

    @media screen and (min-width: $bp-desktop) {
        height: 880px;
        width: 880px;
        padding: 128px;
    }

    &::before,
    &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        background-size: cover;
        right: 0;
    }

    &::before {
        background-image: url("../images/modal-bread.png");
        width: 148px;
        height: 227px;
        z-index: 2;
    }

    &::after {
        background-image: url("../images/modal-sign.png");
        width: 160px;
        height: 160px;
        z-index: 1;
    }

    &__title {
        font-size: 24px;
        font-weight: 900;
        line-height: 1.3;
        margin-bottom: 16px;

        @media screen and (min-width: $bp-tablet) {
            font-size: 32px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 64px;
        }
    }

    &__agreement {
        font-size: 12px;
    }
}