.traditions {
    padding-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__content {
        max-width: 710px;
        display: flex;
        flex-direction: column;
        gap: 42px;
    }

    &__title {
        font-size: 64px;
        line-height: 1.3;
        font-weight: 900;
    }

    &__text.limited {
        max-width: 340px;
    }

    &__img {
        border-radius: 400px 400px 0 0;
        width: 393px;
        height: 466px;
    }
}