@use "../utils/index" as *;

.traditions {
    padding-top: 96px;

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__content {
        max-width: 710px;
        display: flex;
        flex-direction: column;
        gap: 42px;

    }

    &__title {
        font-size: 32px;
        line-height: 1.5;
        font-weight: 900;

        @media screen and (min-width: $bp-tablet) {
            font-size: 64px;
            line-height: 1.3;
        }
    }

    &__text.limited {
        max-width: 340px;

    }

}

img.traditions__img {
    display: none;
    border-radius: 400px 400px 0 0;
    width: 393px;
    height: 466px;

    @media screen and (min-width: $bp-tablet) {
        display: block;
    }
}