@use "../utils/index" as *;

.traditions {
    @media screen and (min-width: $bp-desktop) {
        padding-top: 96px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: end;
    }

    &__content {
        max-width: 710px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media screen and (min-width: $bp-tablet) {
            gap: 42px;
        }
    }

    &__title {
        font-size: 32px;
        line-height: 1.5;
        font-weight: 900;

        @media screen and (min-width: 921px) {
            font-size: 64px;
            line-height: 1.3;
        }
    }

    &__text {
        font-weight: 300;

        @media screen and (min-width: $bp-desktop) {
            font-weight: 400;
        }
    }

    &__text.limited {
        @media screen and (min-width: $bp-desktop) {
            max-width: 340px;
        }
    }

    &__img {
        display: none;
        border-radius: 400px 400px 0 0;
        width: 393px;
        height: 466px;

        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }
}